<div class="top-bar">
  <div class="left-section">
    <img src="assets/steinel_pmb_small.png" alt="Logo" class="logo-top-left">
  </div>
  <div class="right-section">
    <div class="version-container">
      <span class="app-version">v{{ version }}</span>
      <span class="app-version">Build: {{ buildDate }}</span>
    </div>
  </div>
</div>

<div class="page-container">
  <div class="login-container">
    <div class="card shadow text-center login-card">
      <h1 class="card-title mb-3">Password Reset</h1>

      <div class="description-text">
        <p>Forgot your password? No problem, just tell us your email address and we'll send you a link to choose a new
          password.</p>
      </div>

      <div class="form-centered">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <input type="email" formControlName="email" class="form-control" placeholder="Email Address" required>
            <div *ngIf="f['email'].touched && f['email'].invalid" class="error-message">
              <div *ngIf="f['email'].errors?.['required']">The email is mandatory.</div>
              <div *ngIf="f['email'].errors?.['email']">Email format is not valid.</div>
              <div *ngIf="f['email'].errors?.['pattern']">
                Please insert a valid email address in the given format &#64;steinel.ro.
              </div>
            </div>
          </div>

          <button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn btn-custom">
            Send reset link!
          </button>

          <div class="forgot-password" (click)="goBackToLogin()">
            Back to authentication!
          </div>
        </form>
      </div>
    </div>
  </div>
</div>