<div class="top-bar">
  <div class="left-section">
    <img src="assets/steinel_pmb_small.png" alt="Logo" class="logo-top-left" />
  </div>
  <div class="right-section">
    <div class="version-container">
      <span class="app-version">v{{ version }}</span>
      <span class="app-version">Build: {{ buildDate }}</span>
    </div>
  </div>
</div>

<!-- <div class="language-section">
  <select class="language-selector" (change)="changeLanguage($event)" [value]="language">
    <option value="ro">RO</option>
    <option value="en">EN</option>
  </select>
</div> -->

<div class="page-container">
  <div class="login-container">
    <div class="card">
      <h1 *ngIf="alreadyAuthenticated()" class="card-title mb-3">Deja logat ca {{username}}!</h1>
      <button *ngIf="alreadyAuthenticated()" type="submit" class="btn btn-custom" (click)="accessHomePage()">Mergi la pagina principală</button>
      <h1 *ngIf="alreadyAuthenticated()" class="card-title mb-3">Loghează-te cu alt utilizator!</h1>
      <h1 *ngIf="!alreadyAuthenticated()" class="card-title mb-3">Autentificare</h1>

      <!-- msj de eroare -->
      <div *ngIf="error" class="error-message">
        {{ error }}
      </div>
      <!--msj de incarcare -->
      <div *ngIf="isLoading" class="loading-spinner">
        Autentificare în curs...
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-centered">
        <input formControlName="username" type="text" class="form-control" placeholder="Nume utilizator" />
        <input formControlName="password" type="password" class="form-control" placeholder="Parolă" />

        <!-- <div class="form-check">
          <input formControlName="remember" type="checkbox" />
          <label>Ține-mă minte</label>
        </div> -->

        <button type="submit" class="btn-custom" [disabled]="isLoading">Loghează-te</button>
        <button type="button" class="btn-custom" (click)="onRegister()">Înregistrează-te</button>

        <div class="forgot-password-container">
          <span class="forgot-password" (click)="onForgotPassword()">Ai uitat parola?</span>
        </div>
      </form>
    </div>
  </div>
</div>